@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  --header-height: 3rem;
  --title-color: #333333 --title-color-dark: #000000 --text-color: #757575
    --body-color: #fafafa --container-color: #fff;
  --body-font: "Poppins", sans-serif;

  --big-size: 3.5rem;
  --h1-size: 2.25rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --normal-size: 1rem;
  --small-size-size: 0.875rem;
  --smaller-size: 0.813rem;
  --tiny-size: 0.625rem --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: 1 rem;
}

body {
  /* background-color: var(--body-color); */
  background-color: #f5f5f5;
  color: var(--text-color);
}
